<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>570795881764-if0tn5fg9mr5kqrv3qj74t1igs5207pa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.570795881764-if0tn5fg9mr5kqrv3qj74t1igs5207pa</string>
	<key>API_KEY</key>
	<string>AIzaSyBU_fONd91dJQzi8kXxuhGX830bpPsesEk</string>
	<key>GCM_SENDER_ID</key>
	<string>570795881764</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Sergey-Zhuravel.Push-Auth</string>
	<key>PROJECT_ID</key>
	<string>push-auth-c3402</string>
	<key>STORAGE_BUCKET</key>
	<string>push-auth-c3402.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:570795881764:ios:f3bdb294ecdf9b92</string>
	<key>DATABASE_URL</key>
	<string>https://push-auth-c3402.firebaseio.com</string>
</dict>
</plist>